@page
@model Movies_RazorPages.Pages.AboutModel
@{
}

<div class="about-class">
    <h1 class="display-4">About the Movies Database</h1>
    <br />
    <p>A simple movie database created with Razor Pages and hosted with Azure.</p>
    <p>Created for CPSC 230 .NET Programming, Summer 2023</p>
</div>