@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="index-class">
    <h1 class="display-4">Movies Database</h1>
    <br />
    <h3>Welcome to the Movies Database!</h3>
    <br />
    <p>You can view the current entries by navigating to the Movies tab above.</p>
    <p>There, you can also add new entries or edit/delete existing entries.</p>
</div>
