html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  margin-bottom: 60px;
}

.index-class {
    text-align: center;
} 

.index-class h3 {
    font-size: 20pt;
    font-weight: normal;
}

.index-class p {
    font-size: 16pt;
}

.about-class {
    text-align: center;
}

.about-class p {
    font-size: 16pt;
}
